<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <h1>{{pageTitle}}</h1>
    <h1>{{welcomeMessage}}</h1>

    <footer>
        Copyright {{currentYear}}
    </footer>
</body>
</html>